@import '../../../../libs/ui/src/styles/tailwind.css';

html,
body,
#__next {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100% !important;
  min-height: 100vh;
  font-family: var(--font-body), sans-serif !important;
}

#__next {
  padding: 2rem 0;
}
